################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gelin.S4B.WPFHost/obj/Debug
/packages/Hardcodet.NotifyIcon.Wpf.1.0.8
/packages/Hardcodet.NotifyIcon.Wpf.1.0.8
/packages/Hardcodet.NotifyIcon.Wpf.1.0.8/lib
