################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gelin.S4B.WPFHost/obj/Debug
